body {
    background-color: hsl(20, 70%, 65%);
    transition: background-color 1s;
}


h1 {
    font-size: 120px;
    font-weight: 100;
    color: white;
    text-align: center;
    margin: 60px;
    transition: all 1s ease;
}

svg {
  transition: all 1s ease;

}
